.areaOne {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1650px;
    margin: 0 auto;
    padding-top: 212px;
}
.areaOneDescription{
    display: flex;
    align-items: flex-start;
}

.introduceParagraph{
    text-align: justify;
    margin: 0 35px;
    width: 360px;
    font-size: 16px;
    color: #3D3D3D;
    line-height: 25px;
}

.introduceParagraph:first-child {
    margin-bottom: 30px;
}

.contentCenter{
    max-width: 1148px;
    margin: 238px auto 0;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.timeLine{
    margin: 300px auto 500px;
    width: 100%;
    height: 4px;
    background-color: #666;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.timeDot{
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #666;
    color: black;
}
.time{
    font-size: 16px;
    width: max-content;
    position: absolute;
    top: 88px;
    left: -50%;
    transform: translateX(calc(-50% + 30px));
}
.timeDescription{
    font-size: 16px;
    width: 100px;
    position: absolute;
    text-align: justify;
    top: 168px;
    width: 225px;
    left: 50%;
    transform: translateX(-50%);

}
.currentTimeDot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 204px;
    color: white;
    box-shadow: 0 0 20px 20px  rgba(0,0,0, 0.7) ;
}

.currentTime{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: max-content;
    font-size: 18px;
    color: white;
}

.currentTimeDescription{
    top: 254px;
    color: black;

}


.area{
    display: flex;
    max-width: 1650px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 0
}
.areaIntroduce{
    max-width: 473px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 49px;
}
.areaTitle {
    line-height: 85px;
    font-size: 36px;
    text-align: justify;
}
.areaDescription{
    color: #767676;
    font-size: 16px;
    font-family: Nobel-Regular;
    text-align: justify;
    line-height: 36px;
}

@media all and (max-width: 1024px) {
    .areaOne {
        display: block;
    }
    .areaOneDescription{
        justify-content: space-between;margin-bottom: 60px;
    }
    .area {
        display: block;
    }
    .areaIntroduce{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 49px;
    }
    .areaTitle{
        text-align: center;
    }
    .areaDescription{
        line-height: normal;
    }
    .introduceParagraph {
        width: auto;
        height: auto;
        line-height: normal;
    }
    .contentCenter{
        margin: 60px auto;
        line-height: normal;
    }
    .areaDescription{
        margin: 30px 0;
    }
    .ml49 {
        margin-left: 0;
    }
    .mr49 {
        margin-right: 0;
    }

}

@media all and (max-width: 640px){
    .areaOneDescription {
        display: block;
    }
    .introduceParagraph:first-child {
        margin-top: 60px;
    }
    .contentCenter{
        max-width: 1650px;
        margin: 60px auto;
        line-height: normal;
        text-align: justify;
    }
    .areaTitle{
        text-align: center;
    }
    .timeLine{
        margin: 100px auto;
        width: 4px;
        height: 1000px;
        background-color: #666;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .timeDot{
        cursor: pointer;
        transform: translateX(calc(-50% + 2px));
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #666;
        color: black;
    }
    .time{
        font-size: 16px;
        width: max-content;
        position: absolute;
        top: 0;
        left: -260px;
        transform: translateY(calc(-50% + 10px));
    }
    .timeDescription{
        font-size: 16px;
        position: absolute;
        text-align: justify;
        top: 0;
        width: 550px;
        right: -50%;
        transform: translateX(25%);

    }
    .currentTimeDot{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: 0 0 5px 5px  rgba(0,0,0, 0.7) ;
    }
    .currentTime{
        font-size: 50px;
        width: max-content;
        position: absolute;
        top: 0;
        left: -260px;
        transform: translateY(calc(-50% + 10px));

    }

    .currentTimeDescription{
        font-size: 16px;
        position: absolute;
        text-align: justify;
        width: 550px;
        top: 0;
        right: -50%;
        /*transform: translateX(25%);*/
    }
}
.ml49 {
    margin-left: 49px;
}
.mr49 {
    margin-right: 49px;
}
